[class^="Icon-"], [class*=" Icon-"] {
	display: inline-block;
	color: #1b1b1b;
	fill: currentColor;
}
.Icon-facebook {
	width: 24px;
	height: 24px;
}
.Icon-facebook--round {
	width: 24px;
	height: 24px;
}
.Icon-twitter {
	width: 24px;
	height: 24px;
}
.Icon-twitter--round {
	width: 24px;
	height: 24px;
}
.Icon-time {
	width: 24px;
	height: 24px;
}
.Icon-refresh {
	width: 24px;
	height: 24px;
}
.Icon-success {
	width: 24px;
	height: 24px;
}
.Icon-exit {
	width: 24px;
	height: 24px;
}
.Icon-favorite {
	width: 24px;
	height: 24px;
}
.Icon-help {
	width: 24px;
	height: 24px;
}
.Icon-remove--outline {
	width: 24px;
	height: 24px;
}
.Icon-info {
	width: 24px;
	height: 24px;
}
.Icon-info--outline {
	width: 24px;
	height: 24px;
}
.Icon-newWindow {
	width: 24px;
	height: 24px;
}
.Icon-search {
	width: 24px;
	height: 24px;
}
.Icon-settings {
	width: 24px;
	height: 24px;
}
.Icon-view--list {
	width: 24px;
	height: 24px;
}
.Icon-view--grid {
	width: 24px;
	height: 24px;
}
.Icon-warning {
	width: 24px;
	height: 24px;
}
.Icon-pause {
	width: 24px;
	height: 24px;
}
.Icon-pause--outline {
	width: 24px;
	height: 24px;
}
.Icon-play {
	width: 24px;
	height: 24px;
}
.Icon-play--outline {
	width: 24px;
	height: 24px;
}
.Icon-add {
	width: 24px;
	height: 24px;
}
.Icon-add--outline {
	width: 24px;
	height: 24px;
}
.Icon-notAvailable {
	width: 24px;
	height: 24px;
}
.Icon-loading {
	width: 24px;
	height: 24px;
}
.Icon-comments {
	width: 24px;
	height: 24px;
}
.Icon-menu {
	width: 24px;
	height: 24px;
}
.Icon-media--video {
	width: 24px;
	height: 24px;
}
.Icon-media--image {
	width: 24px;
	height: 24px;
}
.Icon-tag {
	width: 24px;
	height: 24px;
}
.Icon-email {
	width: 24px;
	height: 24px;
}
.Icon-remove {
	width: 24px;
	height: 24px;
}
.Icon-collapse {
	width: 24px;
	height: 24px;
}
.Icon-expand {
	width: 24px;
	height: 24px;
}
.Icon-person {
	width: 24px;
	height: 24px;
}
.Icon-share {
	width: 24px;
	height: 24px;
}
