<section role="region" class="Sheet Sheet--postionBottomRight Panel">
  <form action="#/gaunlet" method="post">
    <fieldset>
      <legend id="createPostHeading" class="H3">Create New Post</legend> 
              
      <label for="post" class="Input">
        <span class="Input-label">What's on Your Mind?</span>
        <textarea cols="40" rows="8" name="post" id="post" required></textarea>
      </label>
      <label for="select-choice" class="Input"> 
        <span class="Input-label">Post Category</span>
        <select name="category" id="category">
          <option value="1">F MY LIFE</option>
          <option value="2">First World Problems</option>
          <option value="3">Just Because</option>
        </select>
      </label>
      
      <button type="submit" name="submit" id="submit" class="Button u-sm-sizeFull">Publish Post</button>
      
    </fieldset>
  </form>
</section>