{{!-- Comment Post Form --}}
<form action="#" method="post"> 
  <fieldset>
    <legend>Post Comment</legend>
    <label for="" class="Input">
      <span class="Input-label"></span>
      <textarea name="post" id="" cols="30" rows="10"></textarea>
    </label>
  </fieldset>
  <fieldset>
    <label for="" class="Input">
      <span class="Input-label"></span>
      <select name="category" id="category">
        <option value="FMYLIFE">F MY LIFE</option>
        <option value="stwrldprbl">First World Problems</option>
        <option value="justcase">Just Because</option>
      </select>
    </label>
  </fieldset>
  <button type="submit" name="post" id="post" class="Button">Save Comment</button>

  {{!-- <div>
    <label for="textarea">Post:</label>
    <textarea cols="40" rows="8" name="post" id="post"></textarea>
  </div>
   
  <div>
    <label for="select-choice">Select Category:</label>
    <select name="category" id="category">
      <option value="FMYLIFE">F MY LIFE</option>
      <option value="stwrldprbl">First World Problems</option>
      <option value="justcase">Just Because</option>
    </select>
  </div> 
  <div>
      <input type="submit" value="submit" name="submit" id="submitPost"/>
    </div> --}}
</form>