<article class="Panel Panel--withPaddingSm">
  <header class="Panel-header Panel-content">
    <h2 class="Post-title H5">{{0.posts.username}} Said:</h2>
  </header>
  <div class="Panel-body Panel-content">
    {{{0.posts.post}}}
    <p><strong>Category:</strong> {{0.posts.category}}</p>
    {{#if 0.posts.image}}
      <img src='{{0.posts.image}}'> 
    {{/if}}
  </div>
  <footer class="Panel-footer Panel-content">
    {{!-- Posted on <time datetime="{{0.posts.machinetimestamp}}">{{0.posts.humantimestamp}}</time>.
    <ul>
      <li>
        <a href="">
          <svg class="Icon Icon-favorite">
            <use xlink:href="#Icon-favorite" />
          </svg>
      </a></li>
      <li><a class='isSpam' href="#/isSpam/{{0.posts.id}}">Report Spam</a></li>
    </ul> --}}
    <form action="#/titan" method="post" id='commentSubmit' class="Arrange Arrange--withGutter">
      <fieldset class="Arrange-sizeFill">    
        <label for="" class="Input">
          <span class="Input-label u-hiddenVisually">Add Comment</span>
          <textarea class="Input-control Input-controlMultiline" placeholder="Comment" name="comment" required></textarea>
        </label>
        <input type="hidden" name="postid" value="{{0.posts.id}}">
      </fieldset>
      <fieldeset class="Arrange-sizeFit">
        <button class="Button" type="submit" name="commentSubmit" id="submitComment">
          <span class="Button-content" aria-label="Publish Comment">
           <svg class="Icon">
             <use xlink:href="#Icon-add" />
           </svg> 
          </span>
        </button>
      </fieldeset>
  </form>  
  </footer> 
</article>
<section role="region" class="Comments">
  <header class="Comments-header">
    <h3>Comments</h3>
    <a href="">Add Comment</a>
  </header>
  {{#each comments}}
  <article class="Panel">
    <svg class="Icon Icon-person">
      <use xlink:href="#Icon-person" />
    </svg>
   {{{comment}}} on {{commhumantimestamp}}
 </article>
{{/each}}
</section>
