<article class="Post">
  <header class="Post-header">
    <h2 class="Post-title H5">{{0.posts.username}} Said:</h2>
  </header>
  <div class="Post-content">
    {{{0.posts.post}}}
    <p><strong>Category:</strong> {{0.posts.category}}</p>
  </div>
  <footer class="Post-meta">
    Posted on <time datetime="{{0.posts.machinetimestamp}}">{{0.posts.humantimestamp}}</time>.
    <ul>
      <li>
        <a href="">
          <svg class="Icon Icon-favorite">
            <use xlink:href="#Icon-favorite" />
          </svg>
      </a></li>
      <li><a href="functions.php?SpamId={{0.posts.id}}">Report Spam</a></li>
    </ul>  
  </footer> 
</article>
<section role="region" class="Comments">
  <header class="Comments-header">
    <h3>Comments</h3>
  </header>
  {{#each comments}}
  <article class="Post-comment">
    <svg class="Icon Post-commentUser u-posAbsolute">
      <use xlink:href="#Icon-person" />
    </svg>
   {{{comment}}} on <time datetime="{{machinetimestamp}}">{{humantimestamp}}</time>
  </article>
{{/each}}
</section>
<section role="region">
  <form action="#" method="post" id='commentSubmit'>
    <fieldset>
      <legend>Add a Comment</legend>
      <label for="comment" class="Input">
        <span class="Input-label">Comment</span>
        <textarea class="u-full-width" placeholder="Hi Dave …" name="comment" id="comment"></textarea>
      </label>
      <input type="hidden" name="postid" value="{{0.posts.id}}">
      <button class="Button Button--outline Button--themePrimary u-shapeRounded u-sm-sizeFull" type="submit" id="submitComment"  name="commentSubmit">
        <span class="Button-content">Submit Comment</span></button>
    </fieldset>
  </form>
</section>